body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #1c1c1c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar img {
    width: 340px;
    height: auto;
    margin-bottom: 10px;
}

.sidebar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: #0056b3;
}

.chat-container {
    flex: 1;
    padding: 20px;
    background-color: #121212;
}

.chat-header {
    text-align: center;
    margin-bottom: 20px;
}

.chat-box {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #1c1c1c;
}

.message {
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 50px;
    margin-top: 30px;
}

.user-message {
    background-color: #464747;
    color: #fff;
    text-align: left;
    border-radius: 40px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    list-style-type: none; 
    padding: 10px;
}

.bot-response {
    background-color: #1c1c1c;
    color: #fff;
    list-style-type: none;
    padding: 10px; 
    margin-bottom: 10px
}

#user-input {
    width: calc(100% - 50px);
    padding: 10px;
    border: 1px solid #444;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #1c1c1c;
    color: #fff;
    transition: border-color 0.3s ease;
}

#user-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#send-btn {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 90%;
    cursor: pointer;
    position: relative;
    right: 10px;
    top: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#send-btn:hover {
    background-color: #0056b3;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #1c1c1c;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.chat-session {
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.chat-session:hover {
    background-color: #333;
}

.chat-session h3 {
    margin-top: 0;
}

.chat-session ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chat-session li {
    padding: 5px;
}

a {
    color: #7cf08c; 
    text-decoration: none; 
}

a:hover {
    color: #da6a6a; 
}

.email {
    color: #72c243; 
}

.sidebar img.logo-image {
    width: 280px; 
    height: auto;
    margin-bottom: 50px; 
}
.theme-selector-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
}